<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Berners-Lee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Timothy Berners-Lee</h1>
    <h3>Científico de la computación británico, padre de la World Wide Web.</h3>
    <p>Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP, ademas de fundar el Consorcio de la World Wide Web</p>
    <img src="/img/berners-lee.jpg">
</body>
</html>