<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Margaret Hamilton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Margaret Hamilton</h1>
    <h3>Científica computacional, matemática e ingeniero de Software</h3>
    <p>Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT. Donde desarrolló el software de navegación "on-board" para el Programa Espacial Apolo</p>
    <img src="/img/hamilton.jpg">
</body>
</html>