<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Grace Murray Hopper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Grace Murray Hopper</h1>
    <h3>Científica de la computación y militar, pionera en las ciencias de la computación</h3>
    <p>Fue la primera programadora que utilizó el Mark I. Ademas desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación</p>
    <img src="/img/hopper.jpg">
</body>
</html>