<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <form class="listado">
        <h1>DH - Heroes de la tecnologia</h1>
        <div class="contenedor"></div>
        <p>Bienvenido!! a continuación tenemos un listado de las Heroínas y los Héroes Tecnológicos más representativos del ámbito de la programación.</p>
            <ul>
                <ol><a href="http://localhost:3030/babbage">• Babbage</a></ol>
                <ol><a href="http://localhost:3030/berners-lee">• Berners-Lee</a></ol>
                <ol><a href="http://localhost:3030/clarke">• Clarke</a></ol>
                <ol><a href="http://localhost:3030/hamilton">• Hamilton</a></ol>
                <ol><a href="http://localhost:3030/hopper">• Hopper</a></ol>
                <ol><a href="http://localhost:3030/lovelace">• Lovelace</a></ol>
                <ol><a href="http://localhost:3030/turing">• Turing</a></ol>
            </ul>
        </form>
    </body>
</html>