<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Ada Lovelace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Augusta Ada King, condesa de Lovelace</h1>
    <h3>Matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica</h3>
    <p>Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo</p>
    <img src="/img/lovelace.jpg">
</body>
</html>