<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Alan turing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Alan Turing</h1>
    <h3> matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico británico</h3>
    <p> Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing</p>
    <img src="/img/turing.jpg">
</body>
</html>