<!DOCTYPE html>
<html lang="en">
        <!-- Alumno Palavecino Lisandro C19 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Home</title>
    <link rel="stylesheet" href="/css/imports.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="father-search">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
            </div>
            <div class="search">
                <input type="text" placeholder="Buscar productos, marcas y más…">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="list-one">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="list-two">
                <li><a href="">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i></a></li>
            </ul>    
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="home__products">
        <img class="banner" src="/images/home-banner.jpg" alt="banner ofertas" width="100%">
        <section class="home__section-products">
            <h4 class="section__products--title">Basado en tu última visita</h4>
            <div class="article-carousel">
                <article>
                    <img src="/images/cafetera.jpg" alt="cafetera-img">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h5 class="description">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article>
                    <img src="/images/macbook-pro.jpg" alt="macbook.img">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$230.000</p>
                        <p class="discount">20% off</p>
                        <h5 class="description">MacBook Pro 2019</h5>
                    </div>
                </article>
                <article>
                    <img src="/images/galaxy-s10.jpg" alt="galaxys10-img">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$70.500</p>
                        <p class="discount">10% off</p>
                        <h5 class="description">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article>
                    <img src="/images/samsung-smartv.jpg" alt="smartv-img">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$23.200</p>
                        <p class="discount">5% off</p>
                        <h5 class="description">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <h4>Sección de Ofertas</h4>
            <div class="article-carousel">
                <article>
                    <img src="/images/cafetera.jpg" alt="cafetera-ofer">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h5 class="description">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article>
                    <img src="/images/macbook-pro.jpg" alt="macbook-ofer">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$230.000</p>
                        <p class="discount">20% off</p>
                        <h5 class="description">MacBook Pro 2019</h5>
                    </div>
                </article>
                <article>
                    <img src="/images/galaxy-s10.jpg" alt="galaxys10-ofer">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$70.500</p>
                        <p class="discount">10% off</p>
                        <h5 class="description">Samsung Galaxy S10</h5>
                    </div>
                </article>
                <article>
                    <img src="/images/samsung-smartv.jpg" alt="smartv-ofer">
                    <div class="details">
                        <div class="sending">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="cost">$23.200</p>
                        <p class="discount">5% off</p>
                        <h5 class="description">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <div><i class="fa-solid fa-gift"></i></div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>